*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: 1rem;
  font-family: 'Balthazar';
  background-image: url(https://images.pexels.com/photos/258258/pexels-photo-258258.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-attachment: fixed;
  background-size: cover;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -9;
  background-image:  radial-gradient(rgba(0,0,0,0),rgba(0,0,0,.65)),
  url(https://images.pexels.com/photos/258258/pexels-photo-258258.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260);
  background-size: cover;
  filter: grayscale(.1);
}

p {
  font-family: 'Poppins';
}

a:hover{
  font-size: 20px;
}

.container {
  width: 80%;
  max-width: 720px;
  margin: 3rem auto 0 auto;
}

header {
  text-align: center;
  font-size: 2rem;
  margin: 1em auto;
  padding: .5em;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 1);
}

header p {
  font-style: italic;
}

label {
  display: flex;
  align-items: flex-end;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin-top: .5em;
}

form {
  background-color: rgba(0, 0, 0, .5);
  padding: 3em;
  color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, .9);
  font-size: 1.5rem;
}

.form-group {
  margin: 0 auto 1em;
  padding: 0.25rem;
}

.input-style {
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.4rem 0.7rem;
  color: #495057;
  border: none;
  border-radius: 10px;
}

.input-style:focus {
  outline: none;
}

.radio-style,
.checkbox-style {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

.textarea-style {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}

.button-style {
  display: block;
  width: 100%;
  border: none;
  padding: .5em;
  cursor: pointer;
  background-color: aqua;
}

button:hover{
  background-color: red;
  color: aqua;
}

@media(max-width:640px) {
  .container {
    width: 100%;
  }
}

