@media screen and (max-width: 800px){
    .navbar{
        justify-content: center;
        align-items: center;
    }
    .navbar h1{
        display: none;
    }
    .navbar li a{
        margin: 5px ;
        padding: 2px;
        font-size: 16px;
        
    }
    
    header h1{
        font-size: 40px;
    }
    header span{
        font-size: 40px;
    }
    header ul li {
        padding: 0px;
        font-size: 12px; 
    }
    header ul li a{
        font-size: 10px;  
    }
    abbr {
        margin: 9px;
    }
    .btn{
        font-size: 15px;
        padding: 13px;
        width: max-content;
        
    }
    
    .about-txt{
        width: 100%;
        margin-right: 23px;
    
    }
    .about-content {
        font-size: 25px;
        flex-direction: column-reverse;
        
    }
    .about-content abbr{
        margin: 5px;
    }
    
    .about-content h2{
        font-size: 18px;
        
    }
    .about-content h3{
        font-size: 16px;
    }
    .about-content h1{
        font-size: 27px;
    
    }
    .about-txt ul{
        text-align: center;
        font-size: 16px;
    }
    .about-txt p{
        font-size: 20px;
    }
    .about-img img{
        width: 200px;
        height: 200px;
        margin-left: 0%;
        padding: 13px;
 
    }
    .skills-anima{
        width: 98%;   
    }
    .main-p{
        font-size: 40px;
    }
    .cards{
        margin: 7px;
    }
    .Services-h1{
        font-size: 16px;
    }
    .main-Services{
        flex-direction: column;
        height: max-content;
    }
    .primary{
        height: max-content;
        margin: 8% 0;    
    }
    
    
.work-txt h1 {
    font-size: 69px;
    
}

.work-txt p {
    font-size: 23px;
}

.cards_item { 
    flex-basis: 100%;
    height: max-content;
}


#footer-sec{
    background: url(https://images.pexels.com/photos/1670035/pexels-photo-1670035.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.form-container{
    height: max-content;
    
}
.form-container h1{
    font-size: 51px;
   
    
}
.form-container p{
    font-size: 23px;
    
}
.field-copy{
    width: 74%;
    margin: 33px;
    padding: 29px 51px;
    background:none;
    border: none;   
}
.name{
    display: flex;  
    flex-direction: column;
}
.form-input{
    flex-direction: column;
}
textarea{
   font-size: 15px;
   border: 5px solid black;
}
.btn-form button{  
    width: 12rem;
    padding: 3% 0px;
    font-size: 19px;
    font-weight: bold;
}

input{
    width: max-content;
    border: 5px solid black;
}
label{
    font-size: 23px;
    margin: 7px;
}
input{
    border: 5px solid black;
}
label{
    font-size: 23px;
    margin: 7px;
}

.social-links i{
    font-size: 20px;
    
}
.social-links ul {
    margin: 35px 0px;
}
.copyright{
    font-size: 18px;
}
}
